
#container { 
    padding: 10px 100px;
}

.center {
  height: 748px;
  background-color: gray;
  margin-bottom: 20px;
}

.second {
  margin: 13px 0;
  height: 1106px;
  display: flex;
}

.left {
  width: 60%;
  height: 1106px;
  background-color: aqua;
}

.right {
  width: 40%;
  display: flex;
  flex-direction: column;
}

.b1 {
  background-color: #7cc038;
  padding: 10px;
  margin-left: 12px;
  margin-bottom: 10px;
  height: 33.33%;


}

.b2 {
  background-color: #7cc038;
  padding: 10px;
  margin-left: 12px;
  margin-bottom: 10px;
  height: 33.33%;

}

.b3 {
  background-color: #7cc038;
  padding: 10px;
  margin-left: 12px;
  height: 34%;

}
.third {
  width: auto;
  height: 702px;
  background-color: orange;
  padding: 10px;
  display: flex;
  /* margin: 5px; */
  margin-bottom: 20px;
}

.g1 {
  width: 50%;
  padding-right: 5px;
  margin: 5px;
  margin-top: 30px;
  margin-bottom: 30px;
  margin-left: 30px;
  background-color: aliceblue;
}

.g2 {
  width: 50%;
  padding-left: 5px;
  margin: 5px;
  margin-top: 30px;
  margin-bottom: 30px;
  margin-right: 30px;
  background-color: aliceblue;
}

.four {
  width: auto;
  height: 324px;
  background-color: rgb(253, 255, 255);
  display: flex;
  margin-bottom: 20px;
}

.s1 {
  width: 50%;
  padding-right: 10px;
  margin-right: 10px;
  background-color: rgb(105, 82, 126);
}

.s2 {
  width: 50%;
  padding-left: 10px;
  margin-left: 10px;
  background-color: rgb(105, 82, 126);
}

.last {
  /* width: auto; */
  height: 106px;
  background-color: rgb(112, 190, 154);
  align-items: center;
  /* margin: 5px; */
  /* margin-bottom: 20px; */
}


/*Tablet screen*/
@media screen and (max-width: 780px){

.center {
  height: 75%;
  height: 300px;
}

.second {
  width: auto;
  height: auto;
  display: flex;
  flex-direction: column;
}

.left {
  width: auto;
  height: 200px;
  margin-bottom: 10px;
}

.right {
  width: auto;
  height: 200px;
  flex-direction: row;
}

.b1 {
  width: 26%;
  height: 164px;
  margin: 3px 10px 0 0px;
  margin-left: 10px;
  margin-top: 10px;
}

.b2 {
  width: 26%;
  height: 164px;
  margin: 10px 10px 0 0px;
  margin-left: 10px;
}

.b3 {
  width: 26%;
  height: 164px;
  margin: 10px 10px 0 0px;
  margin-left: 10px;
  margin-bottom: 10px;
}

.third {
  width: auto;
  height: 260px;
  display: flex;
}

.g1 {
  width: 324px;
  height: 200px;
}

.g2 {
  width: 324px;
  height: 200px;
}

.four {
 /* width: auto;*/
  height: 150px;
  flex-direction: row;
  display: flex;    
  margin-bottom: 20px;
}

.s1 {
  width: 300px;
  max-height: 150px;
}

.s2 {
  width: 300px;
  max-height: 150px;
}

.last {
  width: auto;
  height: 54px;
}
  
}


/*Phone screen*/
@media screen and (max-width: 400px){

  #container { 
    padding: 10px 50px;
}

  .center {
    width: auto;
    height: 150px;
  }
  
 /* .second {
    width: auto;
    height: 150px;
    display: flex;
  }
  
  .left {
    width: 343px;
    height: initial;
  }
  
  .right {
    width: 343px;
    height: 150px;
  }
  
  .b1 {
    width: auto;
    height: 120px;
    margin: 5px 5px 0 0px;
    margin-left: 10px;
  }
  
  .b2 {
    width: auto;
    height: 120px;
    margin: 5px 5px 0 0px;
    margin-left: 10px;
  }
  
  .b3 {
    width: auto;
    height: 120px;
    margin: 5px 5px 0 0px;
    margin-left: 10px;
  }  */

  .second {
    width: auto;
    height: auto;
    display: flex;
    flex-direction: column;
  }
  
  .left {
    width: auto;
    height: 180px;
  }
  
  .right {
    width: auto;
    height: auto;
    flex-direction: row;
    flex-wrap: wrap;
  }
  
  .b1 {
    width: 30%;
    height: 164px;
    margin: 3px 10px 0 0px;
    margin-left: 10px;
    margin-top: 10px;
    flex-wrap: wrap;
  }
  
  .b2 {
    width: 30%;
    height: 164px;
    margin: 10px 10px 0 0px;
    margin-left: 10px;
    flex-wrap: wrap;
  }
  
  .b3 {
    width: 88%;
    height: 144px;
    margin: 10px 10px 0 0px;
    margin-left: 10px;
    margin-bottom: 10px;
  } 


  
  .third {
    width: auto;
    height: 220px;
    display: flex;
    flex-direction: column;
  }
  
  .g1 {
    width: auto;
    height: 160px;
    margin-left: 10px;
    margin-bottom: 10px;
    margin-right: 10px;
    margin-top: 10px;
  }
  
  .g2 {
    width: auto;
    height: 160px;
    margin-right: 10px;
    margin-top: 10px;
    margin-left: 10px;
    margin-bottom: 10px;
  }
  
  .four {
    width: auto;
    height: 160px;
    flex-direction: column;
  }
  
  .s1 {
    width: auto;
    height: 42%;
    margin-right: 10px;
    margin-top: 10px;
    margin-left: 10px;
    margin-bottom: 5px;
  }
  
  .s2 {
    width: auto;
    height: 42%;
    margin-right: 10px;
    margin-top: 5px;
    margin-left: 10px;
    margin-bottom: 10px;
  }
  
  .last {
    width: auto;
    height: 52px;
  }
    
  }
  